<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.assignment">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Feedback"
            android:theme="@style/AppTheme.NoActionBar" ></activity>
        <activity
            android:name=".payment_history"
            android:label="Payment History"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".payment_success" />
        <activity android:name=".credit_card_payment" />
        <activity android:name=".SeatSelection" />
        <activity android:name=".Bloodshot" />
        <activity android:name=".Sonic" />
        <activity android:name=".Onward" />
        <activity
            android:name=".Drawer"
            android:label="@string/title_activity_drawer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SignUp"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ForgotPwd"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".add_on1"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>